[libdefaults]
	default_realm = {{ domain_member_realm | upper }}
	dns_lookup_realm = false
	dns_lookup_kdc = true
	kdc_timesync = 1
	ccache_type = 4
	forwardable = true
	proxiable = true
    fcc-mit-ticketflags = true

    # https://access.redhat.com/discussions/3370851
    rdns=false

[realms]
	{{ domain_member_realm |upper }} = {
		kdc = {{ domain_member_samba_server|upper }}.{{ domain_member_realm|upper }}
		admin_server = {{ domain_member_samba_server|upper }}.{{ domain_member_realm|upper }}
	}

[domain_realm]
    .{{ domain_member_realm }} = {{ domain_member_realm | upper }}

[logging]
    default = SYSLOG
