[active-directory]
os-name = Linux Ubuntu
os-version = 18

[service]
automatic-install = yes

[users]
default-home = /home/%u
default-shell = /bin/bash

[smbdomain.if.usp.br]
user-principal = yes
fully-qualified-names = no
