[global]
    workgroup = {{ domain_member_workgroup | upper }}
    realm = {{ domain_member_realm | upper }}
    security = ADS

    idmap config * : backend = tdb        
    idmap config *:range = 50000-1000000
	
    template homedir = /home/%U
    template shell = /bin/bash
    winbind use default domain = true
    winbind offline logon = false
    winbind nss info = rfc2307
    winbind enum users = yes
    winbind enum groups = yes

    winbind refresh tickets = yes
    client signing = yes
    kerberos method = secrets and keytab
    client use spnego = yes
    domain master = no
    preferred master = no
    allow trusted domains = yes
    encrypt passwords = yes

    vfs objects = acl_xattr
    map acl inherit = Yes
    store dos attributes = Yes

    # Interfaces que o samba vai responder
    bind interfaces only = True
    interfaces  = {{ domain_member_interfaces | default('enp0s8 lo') }}

{{ domain_member_smb_extra | default(' ')}}
