[global]
    workgroup = {{ domain_member_workgroup | upper }}
    realm = {{ domain_member_realm | upper }}
    security = ADS

    log file = /var/log/samba/%m.log
    log level = 2

    idmap config * : backend = autorid
    idmap config * : range = 10000-9999999

    # Conexão com o servidor de impressão CUPS
    printcap name = cups
    # printcap name = /dev/null
    printing = CUPS
    cups server = {{ domain_member_cups_server }}
    load printers = no
    

    # Melhora a performance das impressões
    # https://wiki.samba.org/index.php/Setting_up_Samba_as_a_Print_Server

    rpc_server:spoolss = external
    rpc_daemon:spoolssd = fork

{{ domain_member_smb_extra | default(' ') }}

[printers]
    comment = All Printers
    browseable = yes
    printable = True
    read only = yes
    path = /var/spool/samba/

{%for printer in domain_member_printers %}
[{{printer.name}}] 
    path = /var/spool/samba/ 
    browseable = yes 
    printable = yes 
    printer name = {{printer.name}}
{% endfor %}


