[global]
	security = ADS
    workgroup = {{ domain_member_workgroup | upper }}
    realm = {{ domain_member_realm | upper }}
	netbios name = PRINTERS
	log file = /var/log/samba/samba.log
	log level = 2

	idmap config * : backend = tdb
	idmap config * : range = 3000-7999

	winbind use default domain = true
	winbind offline logon = false
	winbind nss info = rfc2307
	winbind enum users = yes
	winbind enum groups = yes

	client signing = auto
	kerberos method = system keytab
	client use spnego = yes

	preferred master = no
	domain master = no
	local master = no

	min domain uid = 0

	vfs objects = acl_xattr
	map acl inherit = yes
	store dos attributes = yes

	# Conexão com o servidor de impressão CUPS
	printing = CUPS
    cups server = {{ domain_member_cups_server }}
	printcap name = cups
	load printers = no

	rpcd_spoolss:idle_seconds = 300
	rpcd_spoolss:num_workers = 10
	spoolss: architecture = Windows x64
    

    # Melhora a performance das impressões
    # https://wiki.samba.org/index.php/Setting_up_Samba_as_a_Print_Server

    #rpc_server:spoolss = external
    #rpc_daemon:spoolssd = fork

[print$]
	path = /srv/samba/printer_drivers/
	read only = no

[printers]
    comment = All Printers
    browseable = yes
    printable = True
    read only = yes
    path = /var/spool/samba/

{%for printer in domain_member_printers %}
[{{printer.name}}] 
    path = /var/spool/samba/ 
    browseable = yes 
    printable = yes 
    printer name = {{printer.name}}
{% endfor %}
